# Handy Swift features that didn't make it into the Swift standard library.
github "Flinesoft/HandySwift" ~> 2.8

# Handy UI features that should have been part of UIKit in the first place.
github "Flinesoft/HandyUIKit" ~> 1.8

# Elegant iOS form builder in Swift
github "xmartlabs/Eureka" ~> 4.2

# Keep the screen flow and data handling logic out of your view controllers – let them handle view-stuff only.
github "Flinesoft/Imperio" ~> 3.0

# Error Handler based on localized & healable (recoverable) errors without the overhead of NSError.
github "JamitLabs/MungoHealer" ~> 0.3

# Realm is a mobile database: a replacement for Core Data & SQLite
github "realm/realm-cocoa" ~> 3.13

# Convenient logging during development & release in Swift
github "SwiftyBeaver/SwiftyBeaver" ~> 1.6

# Swifty API for NSTimer
github "radex/SwiftyTimer" ~> 2.0

# Modern Swift API for NSUserDefaults
github "radex/SwiftyUserDefaults" "4.0.0-alpha.1"
