# Handy Swift features that didn't make it into the Swift standard library.
github "Flinesoft/HandySwift" ~> 2.6

# Handy UI features that should have been part of UIKit in the first place.
github "Flinesoft/HandyUIKit" ~> 1.7

# Swifty API for NSTimer
github "radex/SwiftyTimer" ~> 2.0

# Elegant iOS form builder in Swift
github "xmartlabs/Eureka" ~> 4.2

# Keep the screen flow and data handling logic out of your view controllers – let them handle view-stuff only.
github "Flinesoft/Imperio" ~> 1.0

# Convenient logging during development & release in Swift
github "SwiftyBeaver/SwiftyBeaver" ~> 1.6

# Modern Swift API for NSUserDefaults
github "radex/SwiftyUserDefaults" "4.0.0-alpha.1"
